  <!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
       HTGiang-htgiang93@gmail.com
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">3DP Solution </a>.</strong> All rights reserved.
</footer>
